@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotae(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
